path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

#load-project {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 16px;
    /*background-image: url("../design2_images/upload.png");*/
    margin-left:10px;
    margin-top: 10px;
    cursor: pointer;
}

#load-project input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}